// Layout
$mobile-width: 375px;
$desktop-width: 1440px;

// Colors
$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

// Typography
$body-copy-font-size: 15px;
$body-copy-font-family: 'Inter', sans-serif;
$body-copy-font-weight-regular: 400;
$body-copy-font-weight-bold: 700;
$body-copy-font-weight-extra-bold: 800;